html, body {
	height: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	font-family: Lato, serif;
	overflow-x: hidden;
	background: url(img/particles-circling.jpg) no-repeat center center fixed;
	background-size: cover;
	background-position: center;
}

hr {
	border: 1px solid white;
}

#navbar {
	background: rgba(0, 0, 0, 1);
}

.full-picture-sections:not(#navbar) {
	width: 100vw;
	height: 100vh;
	max-height: 100vh;
	margin: 0;
	padding: 0;

}

/* First Section */
#first-section {
	height: 100%;
	width: 100%;
}

#landing-page {
	width: 100%;
	color: white;
	display: flex;
	height: calc(100% - 60px);
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

#landing-page-content-container {
	text-align: center;
}

#landing-page-content {
	text-align: center;
}

#brand-name {
	font-size: 5vw;
}

#slogan {
	font-size: 2vw;
}

#logo_description {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

#logo {
	max-height: 10vw;
	max-width: 10vw;
	margin-left: 5%;
}

#logo2 {
	max-height: 10vw;
	max-width: 10vw;
	margin-right: 5%;
}


/* Projects Banner */

#projects-banner {
	height: 10vw;
	background: rgba(4, 6, 16, 0.95);
	color: white;
	text-align: center;
	padding-top: 1%;
	font-family: "Nanum Gothic";
}

#projects-banner-inner {
}

#main-projects {
	display: flex;
	justify-content: space-between;
	margin-top: 1.4vw;
}

/* Price Assist */

#price-assist {
}

.products {
	font-family: "Nanum Gothic";
	background: rgba(4, 6, 16, 0.7);
	color: white;
}

.title {
	text-align: center;
}

.products-desc {
	text-align: center;
	padding: 2vw;
}

#black-money-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 50%;
	max-height: 15vw;
}
