html, body {
	height: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	font-family: Lato, serif;
	overflow-x: hidden;
}

#new-scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#new-scrollbar::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#new-scrollbar::-webkit-scrollbar-thumb
{
	background-color: #17181a;
	border: 2px solid #17181a;
}



hr {
	border: 1px solid white;
}

#navbar {
	background: #17181a;
	width: 100%;
	position: fixed;
	top: 0;
}

.full-picture-sections:not(#navbar) {
	width: 100vw;
	height: 100vh;
	max-height: 100vh;
	margin: 0;
	padding: 0;

}

/* First Section */
#first-section {
	height: 100%;
	width: 100%;
	min-height: 400px;
}

#landing-page {
	width: 100%;
	height: 47%;
	margin-top: 56px;
	color: white;
	min-height: 250px;
	background-color: #17181a;
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

#landing-page-content-container {
	text-align: center;
}

#landing-page-content {
	text-align: center;
}

#brand-name {
	font-size: 5.2vw;
	letter-spacing: 0.3vw;
	font-family: 'Nanum Gothic';
}

#slogan {
	font-size: 1.5vw;
	font-family: 'Nanum Gothic';
	letter-spacing: 0.2vw;
	color: #37fad6;
}

#logo_description {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

#logo {
	max-height: 7vw;
	max-width: 7vw;
	margin-left: 5%;
}

#logo2 {
	max-height: 7vw;
	max-width: 7vw;
	margin-right: 5%;
}

.rounded-button {
	font-family: 'Nanum Gothic';
	padding-right: 6%;
	padding-left: 6%;
	padding-top: 0.8%;
	padding-bottom: 0.8%;
	border-radius: 100px;
	border: 1px solid white;
	color: white;
	font-size: 1.5vw;
	text-decoration: none;
	transition: 0.3s
}

.rounded-button:hover {
	background-color: white;
	color: black;
	text-decoration: none;

}

#scroll-arrow-container {
	padding-top: 5%;
	-webkit-animation: vertical-mover 1s infinite  alternate;
    animation: vertical-mover 1s infinite  alternate;
}

@-webkit-keyframes vertical-mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes vertical-mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

/* Price Assist */

.horizontal-centered-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.horizontal-centered-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.disabled {
	pointer-events: none;
	cursor: default;
}

#price-assist {

}

#price-assist-column {
	margin-top: 5%;
	display: flex;
	align-items: flex-start;
}

#price-assist-information {
	text-align: center;
	padding-top: 3%;
	padding-right: 10%;
	padding-left: 10%;
}

#price-assist-title {
	font-size: 3.9vw;
	letter-spacing: 0.5vw;
	font-family: "Nanum Gothic";
}

#price-assist-desc {
	font-size: 1.5vw;
	letter-spacing: 0.3vw;
	font-family: "Nanum Gothic";
}


#price-assist-flow > ul > li {
	font-family: "Nanum Gothic";
	font-size: 1.2vw;
	border-radius: 100px;
	border: 5px solid #37fad6;
	-webkit-box-shadow: 4px 4px 17px -9px rgb(173, 255, 240);
	-moz-box-shadow: 4px 4px 17px -9px rgb(173, 255, 240);
	box-shadow: 4px 4px 17px -9px rgb(173, 255, 240);
	list-style-type: none;
	margin-top: 3%;
	margin-bottom: 3%;
	padding: 2%;
}

#price-assist-flow > ul > li:hover {
	background-color: #63ecd3;
	border-color: #63ecd3;
	color: black;
}


#price-assist-flow > p {
	font-size: 2vw;
	font-family: "Nanum Gothic";
}

#price-assist-flow > ul {
	margin-right: 5.5%;
	width: 80%
}

#price-assist-flow > ul > li > .chevron-right {
	float: left;
}

.chevron-right {
	-webkit-animation: horizontal-mover 1s infinite  alternate;
	animation: horizontal-mover 1s infinite  alternate;
	float: left;
}

@-webkit-keyframes horizontal-mover {
    0% { transform: translateX(0); }
    100% { transform: translateX(-10px); }
}
@keyframes horizontal-mover {
    0% { transform: translateX(0); }
    100% { transform: translateX(-10px); }
}

#supported-retailers > p {
	font-size: 2vw;
	font-family: "Nanum Gothic";
}

#supported-retailers-list {
	list-style-type: none;
}

#supported-retailers-list > li {
	font-size: 1.5vw;
	letter-spacing: 0.3vw;
	margin-top: 15px;
}

#install-info > .rounded-button {
	background: #9ba2af;
	color: white;
}

#install-info > .rounded-button:hover {
	background-color: white;
	color: black;
	border: 5px solid #17181a;
	text-decoration: none;
}

/* Responsiveness */


@media only screen and (max-width: 1100px) {
	#brand-name {
		font-size: 7vw;
	}

	#slogan {
		font-size: 3vw;
	}

	#projects-banner {
		font-size: 2.5vw;
	}

	#credit {
		font-size: 2.2vw;
	}

	#open-source {
		font-size: 1.9vw;
	}
}

@media only screen and (max-width: 768px) {
	#brand-name {
		font-size: 48px;
	}

	#slogan {
		font-size: 30px;
	}

	#projects-banner {
		font-size: 18px;
	}

	#credit {
		font-size: 20px;
	}

	#open-source {
		font-size: 18px;
	}

	.title {
		font-size: 30px;
	}	

	.products-desc {
		font-size: 24px;
	}
}

footer {
	display: flex;
	width: 100%;
	background: #17181a;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 10px;
	margin-top: 2%;
}

.icons {
	color: white;
	font-size: 30px;

}

footer > a {
	margin-right: 3%;
	margin-left: 3%;
	padding: 7px;
}

footer > p {
	height: 100%;
	align-self: center;
	color: white;
	font-size: 25px;
	margin-top: auto;
	margin-bottom: auto;
}


