html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Lato, serif;
}

.full-picture-sections:not(#navbar) {
	width: 100%;
	height: 100%;
	max-height: 100vh;
	margin: 0;
	padding: 0;

}

/* First Section */
#first-section {
	background: url(img/particles-circling.jpg);
	background-size: cover;
	background-position: center;
	color: black;
	height: 100%;
	width: 100%;
}

#landing-page {
	width: 100%;
	color: white;
	display: flex;
	height: calc(100% - 60px);
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

#landing-page-content-container {
	text-align: center;
}

#landing-page-content {
	text-align: center;
}

#logo_description {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

#logo {
	max-height: 128px;
	max-width: 128px;
	margin-left: 5%;
}

/* Beginning of Second Section */

#second-section {
	padding: 5%;
	background-size: cover;
	background-position: center;
	text-align: left;
	color: #4e555b;
}

#vision {
	line-height: 2;
}

.products {
}

#products-button {
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 4%;
	padding-bottom: 4%;
}

#mobile-phone-image {
	width: 100%;
	height: 100%;
}

#brand-name {
	font-family: "Open Sans Condensed";
	letter-spacing: 10px;
	font-size: 6em;
}

#slogan {
	font-size: 2em;
}

h2 {
	line-height: 1.6;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid black;
	width: 60%;
	padding: 0;
}