/* Track Prices */

#track-prices {
	text-align: center;
	padding-right: 10%;
	padding-left: 10%;
	margin-top: 4%;
}

#track-prices-img {
	width: 99%;
	height: auto;
}

#track-prices > p {
	letter-spacing: 0.2vw;
}

@media only screen and (max-width: 1200px) {
	#track-prices {
		margin-top: 10%;
	}
}

@media only screen and (max-width: 992px) {
	#track-prices {
		margin-top: 12%;
	}
}
